﻿@{
    ViewBag.Title = "Main";
}
<header>
    <h2>@ViewBag.Title</h2>
</header>

<body>
    <div class="col-lg-6">
        <div>
            <p class="h5">
                Click on the link below to go back home: 
            </p>
        </div>
        <div class="mrgn-tp-md mrgn-rght-md mrgn-lft-md">
            @*<button type="button" class="btn btn-success btn-block" data-target="#link1"></button>*@
            <span id="link1">@Html.ActionLink("Press this to go Home", "Index", "Home")</span>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
        <p class="h5">
            Or this one to go to About:
        </p>
    </div>
    <div class="mrgn-tp-md mrgn-rght-md mrgn-lft-md">
        @*<button type="button" class="btn btn-success btn-block" data-target="#link2"></button>*@
        <span id="link2">@Html.ActionLink("Press this to go to About", "About", "Home")</span>
    </div>
    </div>
</body>